[Unit]
Description = Cart Service
[Service]
User=roboshop
// highlight-start
Environment=REDIS_HOST=redis-dev.vinithaws.online
Environment=CATALOGUE_HOST=catalogue-dev.vinithaws.online
Environment=CATALOGUE_PORT=80
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier={{component}}

[Install]
WantedBy=multi-user.target